@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Share+Tech+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:200,300,400,500,600,700,800,900&display=swap");
/* font-family: "Roboto Condensed", sans-serif;  */


/* colors */
:root { 
    --main-dark-color: #414833;
    --main-dark-grey: #403d39;
    --main-medium-grey: #ccc5b9;
    --main-light-grey: #b3a999;
    --main-orange: #307251;
    --main-orange-shade: #C9ADA1;
}

/* resets */
* {
    font-family: "Roboto Condensed", sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    text-transform: capitalize;
}

body {
    min-height: 100vh;
    background-color: var(--main-light-grey);
    color: var(--main-medium-grey);
}

p, li, button {
    font-family: serif;
}
/*header/navbar */

nav {
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: var(--main-medium-grey);
    font-family: 'Poppins', sans-serif;
}

.logo {
    color: var(--main-dark-color);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
}

.nav-links {
    display:flex;
    justify-content: space-around;
    width: 30%;
    color: var(--main-dark-color);
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    color: var(--main-dark-color);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
}

.burger {
    display: none;
    cursor: pointer;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: var(--main-light-grey);
    margin: 5px;
    transition: all 0.3s ease;
}
.menu {
    position: relative;
    display: inline-block;
    margin-left: auto;
}

.dropdown {
    display: none;
    position: absolute;
    background-color: var(--main-dark-grey);
    min-width: 160px;
    padding: 12px 16px;
    z-index: 5;
    top: 35px;
    right: -30px;
}

.menu:hover .dropdown {
    display: block;
}

.dropdown li {
    list-style: none;
}

/* cuerpo */
.description {
    margin-top: 5%;
}

.home {
    display: flex;
    justify-content: center;
    background-position: center;
    background-attachment: fixed;
}
.home img {
    width: 100%;
    height: auto;
}

.homeTexto {
    position: absolute;
    top: 50%;
    left: 20%;
}

.containerProducts {
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: auto auto auto;
}

.product {
    display: grid;
    grid-template-rows: 450px 150px 30px auto;
    margin: 10% 0;
    border: 2px solid var(--main-dark-grey);
    padding: 3%;
    box-shadow: 4px 4px 6px 1px var(--main-dark-grey);
    height: 700px;
    width: 200px;
    align-items: center;
}

/* main */
h1 {
    text-align: center;
    margin-top: 2.5%;
    color: #000;
}

.product img {
    width: 100%;
    height: auto;
    display: block;
    margin: auto auto 100px auto;
}

.imgContainer {
    position: relative;
}

/* product */

.imgContainer .heart {
    position: absolute;
    top: 6%;
    right: 9%;
    font-size: 1.5em;
}

.product button,
.product button:visited {
    margin: 5% 0;
    width: 90%;
    background-color: var(--main-medium-grey);
    border-radius: 15px;
    border: 2px solid var(--main-dark-color);
    cursor: pointer;
    padding: 4% 15%;
    text-decoration: none;
    font-size: 1em;
    font-weight: 800;
}

.product button:hover {
    background-color: var(--main-orange);
}

.product button a, 
.product button a:visited {
    text-decoration: none;
    color: var(--main-dark-color);
}

.newsletter {
    text-align: center;
    padding: 5rem 1rem;
    background: var(--main-light-grey);
}

.newsletter h3 {
    color: var(--main-dark-color);
    font-size: 1.8em;
}

.newsletter p {
    color: var(--main-dark-color);
    font-size: 1em;
    margin: 2em auto;
    width: 70em;
}

.newsletter form {
    display: flex;
    max-width: 70em;
    border: .2em solid #fff;
    padding: .5em;
    border-radius: 5em;
    margin: em auto;
    height: 3.2em;
}

.newsletter form input[type="email"] {
    padding: 0 2rem;
    font-size: 1.7rem;
    background: none;
    width: 100%;
    color: var(--main-orange-shade);
    text-transform: none;
    border: none;
}

.newsletter form input[type="email"]::placeholder {
    color: #fff;
    
}

.newsletter form input[type="submit"] {
    background: var(--main-orange);
    width: 20rem;
    font-size: 1.7rem;
    border-radius: 5rem;
    cursor: pointer;
    border: none;
}

.newsletter form input[type="submit"]:hover {
    color: #000;
}

footer {
    position: relative;
    width: 100%;
    background-color: var(--main-orange);
    height: 350px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    flex-direction: column;
}

footer .social-icon, footer .menu-footer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}

footer .social-icon li, footer .menu-footer li{
    list-style: none;
}

footer .social-icon li a {
    font-size: 2em;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
}

footer .social-icon li a:hover {
    transform: translateY(-10px);
}

footer .menu-footer li a {
    font-size: 2em;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
    text-decoration: none;
    opacity: 0.75;
}

footer .menu-footer li a:hover {
    opacity: 1;
    transform: translateY(-10px);
}

footer p {
    color: #fff;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 1.1em;
}

/* mediaqueries */

@media screen and (max-width:1024px) {
    .nav-links{
        width: 60%;
    }
}

@media screen and (max-width:768px) {
    body {
        overflow-x: hidden;
    }
    .nav-links {
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: var(--main-dark-color);
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .nav-links li {
        opacity: 0;
    }
    .burger {
        display: block;
    }
}
.nav-active {
    transform: translateX(0%);
}

@keyframes navLinkFade{
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px,6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px,6px);
}